{% extends "base.html" %}


{% block content %}
<main>
    <div class="container py-4">
      {% comment %} <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

          <span class="fs-4">hthy</span>
        </a>
      </header> {% endcomment %}
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">yhytj</h1>
          <p class="col-md-8 fs-4">hyujui</p>
          <button class="btn btn-primary btn-lg" type="button">hnb</button>
          
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>fkkdngkl,</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more. </p>

          </div>
        </div>
        
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3 ">
            <picture>

            </picture>
            <button class="btn btn-primary btn-lg " type="button">dfkoh</button>
            
          </div>
        </div>
      </div>
    </div>
  </main>
  
  
      
    </body>
{% endblock content %}