

 {% comment %} <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Crypto live</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Api</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  {% endcomment %}

 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"><i class="bi bi-house"></i></a></li>
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="{% url 'services' %}" class="nav-link px-2 link-dark">Services</a></li>
        <li><a href="{% url 'login' %}" class="nav-link px-2 link-dark">Se connecter</a></li>
        <li><a href="{% url 'signup:signup' %}" class="nav-link px-2 link-dark">S'inscrire</a></li>
      </ul> 






      {% comment %} <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary"><a href="{% url 'signup:sign_up' %}">Sign-up</a></button>
      </div> {% endcomment %}
    </header>
  </div>