{% extends 'base.html' %}
{% load static %}
 
{% block content %}

 <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style> 
<!------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-5 fw-bold lh-1 mb-3">Nombre de personnes et l'âge</h1>
        <p class="lead text-muted">Ce service offre des prédictions sur une image précis. 
          Il permet de trouver des visages sur la photo et d'en estimer l'âge en extraitant les traits du visage.</p>
      </div>
    </div>
  </section>
  <!---------------------------------------------------------------------------------------------------->
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
        <!------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>
        {% comment %} <div class="col">
          <div class="card shadow-sm">
            <h5 class="card-header">Mots-clés </h5>
            <img src="{% static 'images/friendsdog.jpg' %}">
            <div class="card-body">
              <p class="card-text">Ce modèle reconnaît les objets et les personnes dans l'image, puis la balise avec un ensemble de mots-clés précis, qui servent à catégoriser et à modérer les images.</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Mots-clés 
                </label>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        <!------------------------------------------------>
        {% comment %} <div class="col">
          <div class="card shadow-sm">
            <h5 class="card-header">Qualité d'image</h5>
            <img src="{% static 'images/chien.jpeg' %}">
            <div class="card-body">
              <p class="card-text"> Ce modèle unique pour estimer l'esthétique des photos. </p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Qualité d'image
                </label>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        <!-------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------>
          <section class="py-5 text-center container">
            <div class="card shadow-sm">
              <img src="{% static 'images/age.jpg' %}">                            
            </div>
          </section>
          <!-------------------------------------------------->
      </div>
    </div>
  <!------------------------------------------------------------------------------------------------------>

  <div class="d-grid gap-2 col-6 mx-auto">
    <label class="form-label" for="customFile">Télécharger une image</label>
    <input type="file" class="form-control" id="customFile" />
    <div class="form-outline">
      <input type="url" id="typeURL" class="form-control" />
      <label class="form-label" for="typeURL">Ou ajouter l'URL</label>
    </div>
  </div> 



</main>  




<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'images/age.jpg' %}" alt="Bootstrap Themes" >
      {% comment %} width="700" height="500" loading="lazy"> {% endcomment %}
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Nombre de personnes et l'âge</h1>
      <p class="lead">Ce service offre des prédictions sur une image précis. 
        Il permet de trouver des visages sur la photo et d'en estimer l'âge en extraitant les traits du visage.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <label class="form-label" for="customFile">Télécharger une image</label>
        <input type="file" class="form-control" id="customFile" />
        {% comment %} <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> {% endcomment %}
        
      </div>
      <div class="form-outline">
        <input type="url" id="typeURL" class="form-control" />
        <label class="form-label" for="typeURL">Ou ajouter l'URL</label>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

