{% extends 'base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>{{field.label}}</div>
        <div>{{field}}</div>
    {% endfor %}
    <div>
        <input type="submit" value="Test">
    </div>
</form>

    <table>
                <p>Il y a au total {{nombre_personne}} personne(s) sur la photo</p>
        <tr> 
        <th>Age</th>
        <th>Catégorie des personnes</th> </tr>
        {% for personne in info %}
        <tr><td> {{ personne.age}} </td>
            <td> {{ personne.class }} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}